<div class="contenair center-items px-20 py-5 max-lg:border-b max-sm:px-6">
    <div class="logo">
        <a routerLink="/">
            <img src="assets/freshcart-logo.svg" alt="freshcart-logo">
        </a>
    </div>
    <div class="flex gap-5 max-lg:hidden">
        <form action="#" class="w-128 h-10">
            <input type="search" id="search" placeholder="search for products"
                class="full-w-h boutton  border-grays-200 search">
        </form>
        <div class="location w-32">
            <button
                class="w-full h-10 text-gray-ligth boutton border-grays-200  hover:bg-grays-300 hover:border-grays-300"
                (click)="this.canShowModal=true">Location</button>
        </div>
    </div>
    <div class="center-items w-32">
        <div class="relative  cursor-pointer">
            <a href="/shop">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6 stroke-gray-ligth">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
                <span class="icon-style">5</span>
            </a>
        </div>
        <div class=" cursor-pointer" (click)="this.canShowSignInModal=true">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6 stroke-gray-ligth">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>
        </div>

        <!-- drawer init and toggle -->
        <div class="flex">
            <button
                class="relative text-white "
                type="button" data-drawer-target="drawer-right-example" data-drawer-show="drawer-right-example"
                data-drawer-placement="right" aria-controls="drawer-right-example">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6 stroke-gray-ligth">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
                <span class="icon-style">1</span>
            </button>
        </div>

        <!-- drawer component -->
        <div id="drawer-right-example"
            class="fixed top-0 right-0 z-50 h-screen overflow-y-auto transition-transform translate-x-full duration-500 bg-white w-5/12 max-md:min-w-full"
            tabindex="-1" aria-labelledby="drawer-right-label">
            <div class="flex items-center justify-between p-4 border-b border-grays-300">
                <div class="flex flex-col">
                    <h5 id="drawer-right-label"
                        class="inline-flex items-center text-xl font-semibold text-blacks dark:text-gray-400">
                        Shop Cart
                    </h5>
                    <small>Location in 382480</small>
                </div>
    
                <button type="button" data-drawer-hide="drawer-right-example" aria-controls="drawer-right-example"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8  inline-flex items-center justify-center">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close menu</span>
                </button>
            </div>
            <div class="p-4">
                <div class="pb-4 border-b  border-grays-300">
                    <div class="bg-red-100 p-2 border border-red-600 rounded-md text-red-dark">
                        You've got FREE delivery.Start 
                        <a href="" class="font-bold">checkout now</a>
                    </div>
                </div>
                <div *ngFor="let item of data" class="py-4 pr-4 border-b border-grays-300">
                    <div class="flex items-center">
                        <img [src]="item.img" alt="" class="w-16">
                        <div class="felx flex-col gap-x-2 ml-3 w-40">
                            <h6 class="font-semibold text-blacks">{{item.name}}</h6>
                            <small>{{item.weigth}}</small>
                            <a href="#" class="flex items-center gap-2 text-small">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3.5 text-greens-800">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                </svg>
                                <span>Remove</span>
                            </a>
                        </div>
                        
                        <form class="max-w-20 mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" [attr.id]="'decrement-button' + item.id" [attr.data-input-counter-decrement]="item.id" class="dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-md py-1 px-2 h-8">
                                    <svg class="w-1.5 h-1.5 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                    </svg>
                                </button>
                                <input type="text" [attr.id]="item.id" data-input-counter data-input-counter-min="1" data-input-counter-max="50" aria-describedby="helper-text-explanation" class="bg-gray-50 border-x-0 border-gray-300 h-8 text-center text-gray-900 text-base focus:ring-blue-500 focus:border-blue-500 block w-full py-1 px-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="999" value="1" required />
                                <button type="button" [attr.id]="'increment-button' + item.id" [attr.data-input-counter-increment]="item.id" class="dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-md py-1 px-2 h-8">
                                    <svg class="w-1.5 h-1.5 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                    </svg>
                                </button>
                            </div>
                        </form>

                        <div class="flex flex-col gap-2 w-10">
                            <span *ngIf="item.reduction !== 20" class="text-blacks font-semibold">{{item.reduction | currency:'USD':'symbol'}}</span>
                            <span *ngIf="item.reduction === 20" class="text-reds font-semibold">{{item.reduction | currency:'USD':'symbol'}}</span>
                            <span class="line-through">{{item.price | currency:'USD':'symbol'}}</span>
                        </div>
                    </div>

                </div>
                <div class="flex justify-between items-center mt-4">
                    <a href="#"
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-greens-800 rounded-lg hover:bg-green-hover focus:ring-4 focus:ring-greens-300 dark:bg-greens-800 dark:hover:bg-greens-300 focus:outline-none">
                        Continue Shopping
                    </a>
                    <a href="#"
                    class="px-4 py-2 text-sm font-medium text-center text-whites bg-gray-900 hover:bg-gray-700   border rounded-lg focus:outline-none  focus:z-10 focus:ring-4 focus:ring-gray-600  dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                        Update Cart
                    </a>
                </div>
            </div>
        </div>
        <button class="text-greens-800  focus:ring-4 focus:ring-greens-200 font-medium rounded-lg ml-1 hidden max-lg:block" type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
            </svg>          
        </button>
    </div>
</div>


<app-location-popup (close)="this.canShowModal = false" [showModal]="this.canShowModal" />
<app-sign-up-popup (close)="this.canShowSignInModal=false" [showSignUpModal]="this.canShowSignInModal" />





  <!-- drawer component navbar-->
 <div id="drawer-example" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full duration-500 bg-white w-80 dark:bg-gray-800 max-md:min-w-full" tabindex="-1" aria-labelledby="drawer-label">
    <div class="flex items-center justify-between">
        <div class="logo">
            <a routerLink="/">
                <img src="assets/freshcart-logo.svg" alt="freshcart-logo">
            </a>
        </div>
        <button type="button" data-drawer-hide="drawer-example" aria-controls="drawer-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white" >
           <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
           </svg>
           <span class="sr-only">Close menu</span>
        </button>
    </div>
       
    <div class="flex flex-col gap-2 py-5">
        <form action="#" class="w-ful h-10">
            <input type="search" id="search" placeholder="search for products"
                class="full-w-h boutton  border-grays-200 search">
        </form>
        <div class="location w-full">
            <button
                class="flex items-center gap-2 justify-center w-full h-10 text-gray-ligth boutton border-grays-200  hover:bg-grays-300 hover:border-grays-300"
                (click)="this.canShowModal=true">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg>                  
                Location
            </button>
        </div>
    </div>
    <div class="list-none">
        <ul class="flex flex-col gap-2">
            <li>
                <button type="button" class="flex items-center justify-center bg-greens-800 p-2 w-full text-base font-normal text-whites rounded-lg transition duration-500 group hover:bg-green-hover" aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z" />
                    </svg>
                    All Departments
                </button>
                <ul id="dropdown-pages" class="hidden p-4 space-y-2 border border-grays-200 rounded-md mt-2">
                    <li><a routerLink="/shop" lass="nav-links px-3">Dairy, Bread & Eggs</a></li>
                    <li><a href="" class="nav-links px-3">Snacks & Munchies</a></li>
                    <li><a href="" class="nav-links px-3">Fruits & Vegetables</a></li>
                    <li><a href="" class="nav-links px-3">Cold Drinks & Juices</a></li>
                    <li><a href="" class="nav-links px-3">Breakfasts & Instant Food</a></li>
                    <li><a href="" class="nav-links px-3">Bakery & Biscuits</a></li>
                    <li><a href="" class="nav-links px-3">Chicken, Meat & Fish</a></li>
                </ul>
            </li>
            <li>
                <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-pages2" data-collapse-toggle="dropdown-pages2">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Home</span>
                    <svg aria-hidden="true" class="w-5 h-5 stroke-grays-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-pages2" class="hidden p-4 space-y-2 border border-grays-200 rounded-md mt-2">
                    <li><a routerLink="/home"  class="nav-links px-3">Home1</a></li>
                    <li><a href="" class="nav-links px-3">Home2</a></li>
                    <li><a href="" class="nav-links px-3">Home3</a></li>
                    <li><a href="" class="nav-links px-3">Home4</a></li>
                    <li><a href="" class="nav-links px-3">Home5</a></li>
                </ul>
            </li>
            <li>
                <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-pages3" data-collapse-toggle="dropdown-pages3">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Shop</span>
                    <svg aria-hidden="true" class="w-5 h-5 stroke-grays-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-pages3" class="hidden p-4 border border-grays-200 rounded-md space-y-2 mt-2">
                    <li><a routerLink="/shop" class="nav-links px-3">Shop Grid - Filter</a></li>
                        <li><a href="" class="nav-links px-3">Shop Grid - 3 column</a></li>
                        <li><a href="" class="nav-links px-3">Shop List - Filter</a></li>
                        <li><a href="#" class="nav-links px-3">Shop - Filter</a></li>
                        <li><a href="#" class="nav-links px-3">Shop Wide</a></li>
                        <li><a href="#" class="nav-links px-3">Shop Single</a></li>
                        <li><a href="#" class="nav-links px-3">Shop Single v2</a></li>
                        <li><a href="#" class="nav-links px-3">Shop Wishlist</a></li>
                        <li><a href="#" class="nav-links px-3">Shop Cart</a></li>
                        <li><a href="#" class="nav-links px-3">Shop Checkout</a></li>
                </ul>
            </li>
            <li>
                <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-pages4" data-collapse-toggle="dropdown-pages4">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Stores</span>
                    <svg aria-hidden="true" class="w-5 h-5 stroke-grays-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-pages4" class="hidden p-4 border border-grays-200 rounded-md space-y-2 mt-2">
                    <li><a routerLink="/store" class="nav-links px-3">Store List</a></li>
                        <li><a href="" class="nav-links px-3">Store Grid</a></li>
                        <li><a href="" class="nav-links px-3">Store Single</a></li>
                </ul>
            </li>
            <li>
                <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-pages5" data-collapse-toggle="dropdown-pages5">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Mega menu</span>
                    <svg aria-hidden="true" class="w-5 h-5 stroke-grays-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-pages5" class="hidden p-4 border border-grays-200 rounded-md space-y-2 mt-2">
                    <div class="grid gap-6">
                        <div class="flex flex-col">
                            <h6 class="text-greens-800 text-base font-bold p-1 px-3">Dairy, Bread & Eggs</h6>
                            <a routerLink="/shop" class="nav-links px-3">Butter</a>
                            <a routerLink="/shop" class="nav-links px-3">Milk Drinks</a>
                            <a routerLink="/shop" class="nav-links px-3">Curd & Yogurt</a>
                            <a routerLink="/shop" class="nav-links px-3">Eggs</a>
                            <a routerLink="/shop" class="nav-links px-3">Buns & Bakery</a>
                            <a routerLink="/shop" class="nav-links px-3">Cheese</a>
                            <a routerLink="/shop" class="nav-links px-3">Condensed Milk</a>
                            <a routerLink="/shop" class="nav-links px-3">Dairy Products</a>
                        </div>
                        <div class="flex flex-col">
                            <h6 class="text-greens-800 text-base font-bold p-1 px-3">Breakfasts & Instant Food</h6>
                            <a routerLink="/shop" class="nav-links px-3">Breakfasts Cereal</a>
                            <a routerLink="/shop" class="nav-links px-3">Noodles, Pasta & Soup</a>
                            <a routerLink="/shop" class="nav-links px-3">Frozen Veg Snacks</a>
                            <a routerLink="/shop" class="nav-links px-3">Frozen Non-Veg Snacks</a>
                            <a routerLink="/shop" class="nav-links px-3">Vermicelli</a>
                            <a routerLink="/shop" class="nav-links px-3">Instant Mixes</a>
                            <a routerLink="/shop" class="nav-links px-3">Batter</a>
                            <a routerLink="/shop" class="nav-links px-3">Fruits and Juices</a>
                        </div>
                        <div class="flex flex-col">
                            <h6 class="text-greens-800 text-base font-bold p-1 px-3">Cold Drinks & Juices</h6>
                            <a routerLink="/shop" class="nav-links px-3">Soft Drinks</a>
                            <a routerLink="/shop" class="nav-links px-3">Fruits Juices</a>
                            <a routerLink="/shop" class="nav-links px-3">Coldpress</a>
                            <a routerLink="/shop" class="nav-links px-3">Water & Ice Cubes</a>
                            <a routerLink="/shop" class="nav-links px-3">Soda & Mixers</a>
                            <a routerLink="/shop" class="nav-links px-3">Health Drinks</a>
                            <a routerLink="/shop" class="nav-links px-3">Herbal Drinks</a>
                            <a routerLink="/shop" class="nav-links px-3">Milk Drinks</a>
                        </div>
                        <div class="bg-[url('assets/menu-banner.jpg')] bg-cover bg-center px-4 h-60" >
                            <p class="my-5 font-bold text-blacks">Dont miss this <br>offer today.</p>
                            <a href="#" class="boutton border-none text-small bg-greens-800 hover:bg-green-hover text-whites">Shop Now</a>
                        </div>
                    </div>
                </ul>
            </li>
            <li>
                <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-pages6" data-collapse-toggle="dropdown-pages6">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Pages</span>
                    <svg aria-hidden="true" class="w-5 h-5 stroke-grays-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-pages6" class="hidden p-4 border border-grays-200 rounded-md space-y-2 mt-2">
                    <li><a routerLink="/about-us" class="nav-links px-3">About us</a></li>
                    <li><a routerLink="/404Error" class="nav-links px-3">404 Error</a></li>
                    <li><a routerLink="/contact" class="nav-links px-3">Contact</a></li>
                </ul>
            </li>
            <li>
                <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-pages7" data-collapse-toggle="dropdown-pages7">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Account</span>
                    <svg aria-hidden="true" class="w-5 h-5 stroke-grays-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-pages7" class="hidden p-4 border border-grays-200 rounded-md space-y-2 mt-2">
                    <li><a routerLink="/signin" class="nav-links px-3">Sign in</a></li>
                    <li><a routerLink="/signup" class="nav-links px-3">Sign up</a></li>
                    <li><a routerLink="/forgotpwd" class="nav-links px-3">Forgot Password</a></li>
                    <li><a routerLink="/notification" class="nav-links px-3 justify-between items-center">My Account</a></li>
                </ul>
            </li>
            <li>
                <a routerLink="/dashboard" class="center-items relative text-base hover:text-greens-800 p-2 ml-3">Dashboard</a>
            </li>
            <li>
                <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-pages8" data-collapse-toggle="dropdown-pages8">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Docs</span>
                    <svg aria-hidden="true" class="w-5 h-5 stroke-grays-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-pages8" class="hidden p-4 border border-grays-200 rounded-md space-y-2 mt-2">
                    <li>
                        <a href="#" class="nav-links flex gap-3">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 stroke-greens-800">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                                </svg>                                  
                            </div>
                            <div>
                                <h6 class="font-bold text-blacks">Documentations</h6>
                                <p class="text-small">Browse the all documentation</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="nav-links flex gap-3">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 stroke-greens-800">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
                                </svg>                                                              
                            </div>
                            <div>
                                <h6 class="font-bold text-blacks">Changelog <span class="text-greens-800">v1.3.0</span></h6>
                                <p class="text-small">see what's new</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
 </div>
 