<section class="mt-8 px-20 max-sm:px-6">
   

<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative  min-h-128 overflow-hidden rounded-lg md:h-96">
         <!-- Item 1 -->
        <div class="hidden duration-700 ease bg-[url('assets/home-img/slide-1.jpg')] bg-cover bg-center" data-carousel-item>
            <div class="flex flex-col justify-center w-150 h-full py-14 px-8 pl-14 max-sm:w-80 max-md:py-20 max-md:px-8">
                <small class="flex place-content-center w-44 bg-orang p-0.5 rounded-md text-bigSmall font-bold">Opening Sale Discount 50%</small>
                <h2 class="
                text-2xl text-white font-bold mt-4 mb-3 leading-tight max-md:text-ls">SuperMarket For Fresh Grocery<span class="text-greens-800"></span></h2>
                <p class="
                text-white font-medium mb-4 text-lg">Introduced a new model for online grocery shopping and convenient home delivery.</p>
                <a href="" class=" flex justify-center items-center gap-2 w-32 py-2.5 px-4 bg-dark-blue text-whites text-base font-semibold rounded-lg hover:bg-gray-700 transition-colors duration-200">Shop Now 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8Z" clip-rule="evenodd" />
                    </svg>                                         
                </a>
            </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease bg-[url('assets/home-img/slider-2.jpg')] bg-cover bg-center" data-carousel-item>
            <div class="flex flex-col justify-center w-150 h-full py-14 px-8 pl-14 max-sm:w-80 max-md:py-20 max-md:px-8">
                <small class="flex place-content-center w-44 bg-orang p-0.5 rounded-md text-bigSmall font-bold">Free Shipping - orders over $100</small>
                <h2 class="
                text-2xl text-white font-bold mt-4 mb-3 leading-tight max-md:text-ls">Free Shipping on orders over<span class="text-greens-800">$100</span></h2>
                <p class="
                text-white font-medium mb-4 text-lg">Free Shipping to First-Time Customers Only, After promotion and discounts are applied.</p>
                <a href="" class=" flex justify-center items-center gap-2 w-32 py-2.5 px-4 bg-dark-blue text-whites text-base font-semibold rounded-lg hover:bg-gray-700 transition-colors duration-200">Shop Now 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8Z" clip-rule="evenodd" />
                    </svg>                                         
                </a>
            </div>
        </div>
        <!-- Item 3 -->
        <!-- <div class="hidden duration-700 ease-in-out bg-[url('assets/home-img/slide-1.jpg')] bg-cover bg-center" data-carousel-item>
            <div class="flex flex-col justify-center w-150 h-full py-14 px-8 pl-14 max-sm:w-80 max-md:py-20 max-md:px-8">
                <small class="flex place-content-center w-44 bg-orang p-0.5 rounded-md text-bigSmall font-bold">Opening Sale Discount 50%</small>
                <h2 class="
                text-2xl text-dark-blue font-bold mt-4 mb-3 leading-tight max-md:text-ls">SuperMarket For Fresh Grocery<span class="text-greens-800"></span></h2>
                <p class="
                text-gray-ligth font-medium mb-4 text-lg">Introduced a new model for online grocery shopping and convenient home delivery.</p>
                <a href="" class=" flex justify-center items-center gap-2 w-32 py-2.5 px-4 bg-dark-blue text-whites text-base font-semibold rounded-lg hover:bg-gray-700 transition-colors duration-200">Shop Now 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8Z" clip-rule="evenodd" />
                    </svg>                                         
                </a>
            </div>
        </div> -->
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

</section>
