<div *ngIf="item">
    <app-header-langage />
    <app-navbar-one />
    <app-navbar-two />

    <section>
        <div class="flex gap-5 mt-4 px-20 max-sm:px-6">
            <a href="" class="text-greens-800">{{'Home'|translate}}</a>
            <li class="list-none text-gray-ligth">/</li>
            <a href="" class="text-greens-800">{{item.categorie|translate}}</a>
            <li class="list-none text-gray-ligth">/  {{item.nom|translate}}</li>
        </div>
    </section>

    <section>
        <div class="flex mt-8 px-20 max-sm:px-6">
           <div class="">
               <div class="flex justify-between max-md:flex-col">
                   <div class="view-left max-md:min-w-full">
                       <div class="content-img flex overflow-hidden rounded-xl min-w-32 bg-gray-100">
                           <input type="radio" name="slide" id="img1">
                           <input type="radio" name="slide" id="img2">
                           <input type="radio" name="slide" id="img3">
                           <input type="radio" name="slide" id="img4">
   
                           <img [src]="item.img[0]" alt="" class="m1 min-w-full  px-10">
                           <img [src]="item.img[1]" alt="" class="m2 min-w-full  px-10">
                           <img [src]="item.img[2]" alt="" class="m3 min-w-full  px-10">
                           <img [src]="item.img[3]" alt="" class="m4 min-w-full  px-10">
                       </div>
                       <div class="dots grid grid-cols-4 w-full gap-3 mt-7 max-md:w-full">
                           <label for="img1" class="bg-grays-100 rounded-lg hover:border hover:border-green-hover">
                               <img [src]="item.img[0]" alt="" class="w-full h-full">
                           </label>
                           <label for="img2" class="bg-grays-100 rounded-lg hover:border hover:border-green-hover">
                               <img [src]="item.img[1]" alt="" class="w-full h-full">
                           </label>
                           <label for="img3" class="bg-grays-100 rounded-lg hover:border hover:border-green-hover">
                               <img [src]="item.img[2]" alt="" class="w-full h-full">
                           </label>
                           <label for="img4" class="bg-grays-100 rounded-lg hover:border hover:border-green-hover">
                               <img [src]="item.img[3]" alt="" class="w-full h-full">
                           </label>
                       </div>
                   </div>
                   <div class="w-6/12 pl-8 max-md:pl-0 max-md:w-full">
                       <div class="pl-6 max-md:pl-0 max-md:mt-5 w-11/12 max-md:w-full">
                           <a href="" class="flex text-greens-800 mb-4">{{item.categorie|translate}}</a>
                           <h2 class="flex mb-1 text-ld font-bold max-md:text-ls">{{item.nom|translate}}</h2>
                           <div class="flex items-center gap-2 mb-2">
                            <p-rating
                            class="text-yellow-300 flex"
                                [(ngModel)]="item.note"
                                [readonly]="true"
                                iconCancelClass="hidden"
                            ></p-rating>
                            <a href="" class="text-greens-800">({{item.commentaires.length}} {{'reviews'|translate}})</a>
                        </div>
                           <div class="flex gap-3 items-center">
                               <span class="text-blacks text-xl font-bold">${{item.prix_reduit}}</span>
                               <span class="text-grays-300 text-xl font-medium line-through">${{item.prix_unitaire}}</span>
                               <small class="text-reds text-base">{{item.remise}} Off</small>
                           </div>
                           <hr class="w-full h-1 my-6">
                           <div class="flex gap-3 mb-4">
                               <button class="text-grays-300 border border-gray-ligth rounded-md py-3 px-4 font-bold hover:bg-grays-300 hover:text-whites">{{item.poids[0]}}</button>
                               <button class="text-grays-300 border border-gray-ligth rounded-md py-3 px-4 font-bold hover:bg-grays-300 hover:text-whites">{{item.poids[1]}}</button>
                               <button class="text-grays-300 border border-gray-ligth rounded-md py-3 px-4 font-bold hover:bg-grays-300 hover:text-whites">{{item.poids[2]}}</button>
                           </div>
                           <div>
                               <form class="max-w-20">
                                   <div class="relative flex items-center">
                                       <button (click)="decrement(item)" type="button"  class="dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-md py-1 px-2 h-8">
                                           <svg class="w-1.5 h-1.5 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                           </svg>
                                       </button>
                                       <input type="text"  class="bg-gray-50 border-x-0 border-gray-300 h-8 text-center text-gray-900 text-base focus:ring-blue-500 focus:border-blue-500 block w-full py-1 px-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="999" value="{{item.quantite}}" required />
                                       <button (click)="increment(item)" type="button" class="dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-md py-1 px-2 h-8">
                                           <svg class="w-1.5 h-1.5 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                           </svg>
                                       </button>
                                   </div>
                               </form>
                           </div>
                           <div class="flex gap-3 mt-4">
                               <button type="button" (click)="toggleAddCart(item)" [ngClass]="{'active':isInCart(item)}"
                               class="inline-flex items-center rounded-md bg-greens-800 px-2 py-1 font-bold text-small text-white hover:bg-green-hover focus:outline-none focus:ring-4  focus:ring-greens-300">
                                   @if(!isInCart(item)){
                                       <svg class = " -ms-2 me-2 h-5 w-5 " aria-hidden = " true " xmlns = " http://www.w3.org/2000/svg " width = " 24 " height = " 24 " fill = " aucun " viewBox = " 0 0 24 24 " >       
                                           <path stroke = " currentColor " stroke-linecap = " rond " stroke-linejoin = " rond " stroke-width = " 2 " d = " M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6 " />      
                                       </svg>
                                       {{'Add to cart'|translate}}
                                   }@else{
                                      {{'Remove to cart'|translate}}
                                   }
                               </button>
                               <button type="button" class="px-4 py-2 text-sm font-medium text-center bg-gray-100 hover:bg-gray-200   border rounded-lg focus:outline-none  focus:z-10 focus:ring-4 focus:ring-gray-600  dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                       <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
                                   </svg>                              
                               </button>
                               <button type="button" (click)="toggleAddFavorie(item)" class="px-4 py-2 text-sm font-medium text-center bg-gray-100 hover:bg-gray-200   border rounded-lg focus:outline-none  focus:z-10 focus:ring-4 focus:ring-gray-600  dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                @if (isInFavorie(item)) {
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 stroke-reds text-reds">
                                        <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                                    </svg>                               
                                }@else {
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                    </svg> 
                                }
                            </button>
                           </div>
                           <hr class="w-full h-1 my-6">
                           <table>
                               <tbody>
                                   <tr class="flex start-0">
                                       <td class="px-6 py-3 text-grays-800">{{'Product Code'|translate}}:</td>
                                       <td class="px-6 py-3 text-grays-800">{{item.informations.ASIN}}</td>
                                   </tr>
                                   <tr class="flex start-0">
                                       <td class="px-6 py-3 text-grays-800">{{'Availability'|translate}}:</td>
                                       <td class="px-6 py-3 text-grays-800">{{item.stock ? "In stock" : "Not in stock"|translate}}</td>
                                   </tr>
                                   <tr class="flex start-0">
                                       <td class="px-6 py-3 text-grays-800">{{'Type'|translate}}:</td>
                                       <td class="px-6 py-3 text-grays-800">{{item.type | titlecase|translate}}</td>
                                   </tr>
                                   <tr class="flex start-0">
                                       <td class="px-6 py-3 text-grays-800">{{'Shipping'|translate}}:</td>
                                       <td class="px-6 py-3 text-grays-800"> <small>{{'01 day shipping'|translate}}. <span>({{'Free pickup today'|translate}})</span></small></td>
                                   </tr>
                               </tbody>
                           </table>
                           
                           <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" data-dropdown-delay="500" data-dropdown-trigger="click" class="border border-grays-800 mt-5 text-grays-800 bg-whites hover:text-whites focus:bg-grays-800 focus:text-whites hover:bg-grays-800 focus:ring-4 focus:outline-none focus:ring-grays-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center transition-all ease-in-out duration-300" type="button">{{'Share'|translate}}<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                               </svg>
                            </button>
                            <!-- Dropdown menu -->
                            <div id="dropdownDelay" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-32 dark:bg-gray-700">
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
                                    <li class="">
                                        <a href="#" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            <i class="fa-brands fa-facebook"></i>
                                            Facebook
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            <i class="fa-brands fa-twitter"></i>
                                            Twitter
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            <i class="fa-brands fa-instagram"></i>
                                            Instagram
                                        </a>
                                    </li>
                                </ul>
                            </div> 
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </section>

    <section class="mt-20 px-20 max-sm:px-6">
        <app-tabs [data]="item"/>
    </section>

    <section class="my-20 px-20 max-sm:px-6">
        <h3 class="mb-2 text-xl font-bold">{{'Related Items'|translate}}</h3>
        <div class="grid grid-cols-5 gap-4 mt-2 max-lg:grid-cols-3 max-md:grid-cols-2 max-sm:gap-1">
            <app-popular-products *ngFor="let products of allProducts |slice:0:5" [data]="products" [isDetails]="true" />
        </div>
    </section>

    <app-footer/>
</div>
