<div class="grid grid-cols-3 gap-2">
    <span class="flex flex-col items-center justify-center rounded-md py-2 px-2 text-small border border-grays-200">{{ days }}
        <span class="text-grays-300">Days</span>
    </span>
    <span class="flex flex-col items-center justify-center rounded-md py-2 px-2 text-small border border-grays-200">{{ hours }}
         <span class="text-grays-300">Hours</span>
    </span>
    <span class="flex flex-col items-center justify-center rounded-md py-2 px-2 text-small border border-grays-200">{{ minutes }} 
        <span class="text-grays-300">Mins</span>
    </span>
    <span class="flex flex-col items-center justify-center self-center rounded-md py-2 px-2 text-small border border-grays-200 col-start-2 col-end-3">{{ seconds }} 
        <span class="text-grays-300">Sec</span>
    </span>
</div>
