<div class="my-8">
    <div class="mb-5">
       <h4 class="mb-1 font-bold text-xl">{{'Nutrient Value & Benefits'|translate}}</h4>
       <p>{{data.detail_produits.valeur_nutritive}}</p>
    </div>
    <div class="mb-5">
       <h4 class="mb-1 font-bold text-lg">{{'Storage Tips'|translate}}</h4>
       <p>{{data.detail_produits.conseils_stokage}}</p>
    </div>
    <div class="mb-5">
       <h4 class="mb-1 font-bold text-lg">{{'Unit'|translate}}</h4>
       <p>{{data.detail_produits.unite}} {{'units'|translate}}</p>
    </div>
    <div class="mb-5">
       <h4 class="mb-1 font-bold text-lg">{{'Seller'|translate}}</h4>
       <p>{{data.detail_produits.vendeur}}</p>
    </div>
    <div class="mb-5">
       <h4 class="mb-1 font-bold text-lg">{{'Disclaimer'|translate}}</h4>
       <p>{{data.detail_produits.clause_non_responsabilite|translate}}</p>
    </div>
</div>