<nav class="center-items px-20 pb-4  border-b max-lg:hidden">
    <div class="flex justify-between items-center gap-5">
        <div class="group/item">
            <button class="center-items bg-greens-800 hover:bg-green-hover text-whites gap-1 boutton">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z" />
                </svg>
                {{'All Departments'|translate}}
            </button>
            <ul class="group/edit hidden group-hover/item:block ul-nav z-40">
                <li><a href="" class="nav-links">{{'Dairy, Bread & Eggs'|translate}}</a></li>
                <li><a href="" class="nav-links">{{'Snacks & Munchies'|translate}}</a></li>
                <li><a href="" class="nav-links">{{'Fruits & Vegetables'|translate}}</a></li>
                <li><a href="" class="nav-links">{{'Cold Drinks & Juices'|translate}}</a></li>
                <li><a href="" class="nav-links">{{'Breakfasts & Instant Food'|translate}}</a></li>
                <li><a href="" class="nav-links">{{'Bakery & Biscuits'|translate}}</a></li>
                <li><a href="" class="nav-links">{{'Chicken, Meat & Fish'|translate}}</a></li>
            </ul>
        </div>
    
        <div class="center-items">
            <ul class="flex">
                <li class="group/item">
                    <a href="#" class="center-items relative text-base hover:text-greens-800 p-3">{{'Home'|translate}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>                                                    
                    </a>
                    <ul class="group/link hidden group-hover/item:block ul-nav z-40">
                        <li><a routerLink="/home"  class="nav-links w-40">{{'Home1'|translate}}</a></li>
                        <li><a href="" class="nav-links w-40">{{'Home2'|translate}}</a></li>
                        <li><a href="" class="nav-links w-40">{{'Home3'|translate}}</a></li>
                        <li><a href="" class="nav-links w-40">{{'Home4'|translate}}</a></li>
                        <li><a href="" class="nav-links w-40">{{'Home5'|translate}}</a></li>
                    </ul>
                </li>
                <li class="group/item">
                    <a href="#" class="center-items relative text-base hover:text-greens-800 p-3">{{'Shop'|translate}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>                                                    
                    </a>
                    <ul class="group/link hidden group-hover/item:block ul-nav z-40">
                        <li><a routerLink="/shop" class="nav-links w-40">{{'Shop Grid - Filter'|translate}}</a></li>
                        <li><a href="" class="nav-links w-40">{{'Shop Grid - 3 column'|translate}}</a></li>
                        <li><a href="" class="nav-links w-40">{{'Shop List - Filter'|translate}}</a></li>
                        <li><a href="#" class="nav-links w-40">{{'Shop - Filter'|translate}}</a></li>
                        <li><a href="#" class="nav-links w-40">{{'Shop Wide'|translate}}</a></li>
                        <li><a href="#" class="nav-links w-40">{{'Shop Single'|translate}}</a></li>
                        <li><a href="#" class="nav-links w-40">{{'Shop Single v2'|translate}}</a></li>
                        <li><a href="#" class="nav-links w-40">{{'Shop Wishlist'|translate}}</a></li>
                        <li><a href="#" class="nav-links w-40">{{'Shop Cart'|translate}}</a></li>
                        <li><a href="#" class="nav-links w-40">{{'Shop Checkout'|translate}}</a></li>
                    </ul>
                </li>
                <li class="group/item">
                    <a href="#" class="center-items relative text-base hover:text-greens-800 p-3">{{'Stores'|translate}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>                                                    
                    </a>
                    <ul class="group/link hidden group-hover/item:block ul-nav z-40">
                        <li><a routerLink="/store" class="nav-links w-40">{{'Store List'|translate}}</a></li>
                        <li><a href="" class="nav-links w-40">{{'Store Grid'|translate}}</a></li>
                        <li><a href="" class="nav-links w-40">{{'Store Single'|translate}}</a></li>
                    </ul>
                </li>
                <li class="group/item">
                    <a href="#" class="center-items relative text-base hover:text-greens-800 p-3">{{'Mega menu'|translate}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>                                                    
                    </a>
                    <div class="group/link hidden group-hover/item:block absolute top-2/2 left-16 w-80% bg-whites border border-gray-100 shadow-md rounded-xl p-4 animate-slide-links z-40">
                        <div class="grid grid-cols-4 gap-6">
                            <div class="flex flex-col">
                                <h6 class="text-greens-800 text-base font-bold p-1">{{'Dairy, Bread & Eggs'|translate}}</h6>
                                <a routerLink="/shop" class="nav-links">{{'Butter'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Milk Drinks'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Curd & Yogurt'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Eggs'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Buns & Bakery'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Cheese'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Condensed Milk'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Dairy Products'|translate}}</a>
                            </div>
                            <div class="flex flex-col">
                                <h6 class="text-greens-800 text-base font-bold p-1">{{'Breakfasts & Instant Food'|translate}}</h6>
                                <a routerLink="/shop" class="nav-links">{{'Breakfasts Cereal'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Noodles, Pasta & Soup'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Frozen Veg Snacks'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Frozen Non-Veg Snacks'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Vermicelli'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Instant Mixes'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Batter'|translate}}r</a>
                                <a routerLink="/shop" class="nav-links">{{'Fruits and Juices'|translate}}s</a>
                            </div>
                            <div class="flex flex-col">
                                <h6 class="text-greens-800 text-base font-bold p-1">{{'Cold Drinks & Juices'|translate}}</h6>
                                <a routerLink="/shop" class="nav-links">{{'Soft Drinks'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Fruits Juices'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Coldpress'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Water & Ice Cubes'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Soda & Mixers'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Health Drinks'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Herbal Drinks'|translate}}</a>
                                <a routerLink="/shop" class="nav-links">{{'Milk Drinks'|translate}}</a>
                            </div>
                            <div class="bg-[url('assets/menu-banner.jpg')] bg-cover bg-center px-4" >
                                <p class="my-5 font-bold text-blacks w-40">{{'Dont miss this offer today.'|translate}}</p>
                                <a href="#" class="boutton border-none text-small bg-greens-800 hover:bg-green-hover text-whites">{{'Shop Now'|translate}}</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="group/item">
                    <a href="#" class="center-items relative text-base hover:text-greens-800 p-3">{{'Pages'|translate}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>                                                    
                    </a>
                    <ul class="group/link hidden group-hover/item:block ul-nav z-40">
                        <li><a routerLink="/blog" class="nav-links w-40">{{'Blog'|translate}}</a></li>
                        <li><a href="" class="nav-links w-40">{{'Blog Single'|translate}}</a></li>
                        <li><a href="" class="nav-links w-40">{{'Blog Category'|translate}}</a></li>
                        <li><a routerLink="/about-us" class="nav-links w-40">{{'About us'|translate}}</a></li>
                        <li><a routerLink="/404Error" class="nav-links w-40">{{'404 Error'|translate}}</a></li>
                        <li><a routerLink="/contact" class="nav-links w-40">{{'Contact'|translate}}</a></li>
                    </ul>
                </li>
                <li class="group/item">
                    <a href="#" class="center-items relative text-base hover:text-greens-800 p-3">{{'Account'|translate}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>                                                    
                    </a>
                    <ul class="group/link hidden group-hover/item:block ul-nav z-40">
                        <li><a routerLink="/signin" class="nav-links w-40">{{'Sign in'|translate}}</a></li>
                        <li><a routerLink="/signup" class="nav-links w-40">{{'Sign up'|translate}}</a></li>
                        <li><a routerLink="/forgotpwd" class="nav-links w-40">{{'Forgot Password'|translate}}</a></li>
                        <li class="group/items relative">
                            <a href="#" class="nav-links w-40 justify-between items-center">{{'My Account'|translate}}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                </svg>                                                     
                            </a>
                            <ul class="group/links hidden group-hover/items:block ul-nav -top-4 left-40 z-40">
                                <li><a routerLink="/account/orders" class="nav-links w-40">{{'Orders'|translate}}</a></li>
                                <li><a routerLink="/account/setting" class="nav-links w-40">{{'Settings'|translate}}</a></li>
                                <li><a routerLink="/account/address" class="nav-links w-40">{{'Address'|translate}}</a></li>
                                <li><a routerLink="/account/payment-method" class="nav-links w-40">{{'Payement Method'|translate}}</a></li>
                                <li><a routerLink="/account/notification" class="nav-links w-40">{{'Notification'|translate}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="group/item">
                    <a routerLink="/dashboard" class="center-items relative text-base hover:text-greens-800 p-3">{{'Dashboard'|translate}}</a>
                </li>
                <li class="group/item">
                    <a href="#" class="center-items relative text-base hover:text-greens-800 p-3">{{'Docs'|translate}}</a>
                    <ul class="group/link hidden group-hover/item:block ul-nav z-40">
                        <li>
                            <a routerLink="/docs" class="nav-links flex gap-3">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 stroke-greens-800">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                                    </svg>                                  
                                </div>
                                <div>
                                    <h6 class="font-bold text-blacks">{{'Documentations'|translate}}</h6>
                                    <p class="text-small">{{'Browse the all documentation'|translate}}</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-links flex gap-3">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 stroke-greens-800">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
                                    </svg>                                                              
                                </div>
                                <div>
                                    <h6 class="font-bold text-blacks">{{'Changelog'|translate}} <span class="text-greens-800">v1.3.0</span></h6>
                                    <p class="text-small">{{"see what's new"|translate}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div> 
</nav>
