<footer class="bg-background antialiased dark:bg-gray-800 ">
    <div class="max-w-screen-xl px-4 2xl:px-0 mx-20 max-md:mx-10 max-sm:mx-0">
      <div class="border-b border-grays-300 py-6 dark:border-gray-700 md:py-8 lg:py-16">
        <div class="items-start gap-6 md:gap-8 lg:flex 2xl:gap-24">
          <div class="grid min-w-0 flex-1 grid-cols-2 gap-6 md:gap-8 xl:grid-cols-6 md:grid-cols-3 text-base">
            
  
            <div>
              <h6 class="mb-4 text-base font-semibold  text-gray-900 dark:text-white">Categories</h6>
              <ul class="space-y-3">
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Vegetables & Fruits</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Breakfasts & instant food</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Bekery & Biscuits</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Atta, rice & dal</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Sauces & spreads</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Organic & gourmet</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Baby care</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Cleaning essentials</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Personal care</a>
                </li>
              </ul>
            </div>
  
            <div>
              <h6 class="mb-4 text-base font-semibold  text-gray-900 dark:text-white"></h6>
              <ul class="space-y-3">
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Dairy, bread & eggs</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Cold drinks & juices</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Tea, coffee & drinks</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Masala, oil & more</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Chicken, meat & fish</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Paan corner</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Pharma & wellness</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Home & office</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Pet care</a>
                </li>
              </ul>
            </div>
  
            <div>
              <h6 class="mb-4 text-base font-semibold  text-gray-900 dark:text-white">Get to now us</h6>
              <ul class="space-y-3">
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Compagny</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">About</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Blog</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Help Center</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Our Value</a>
                </li>
              </ul>
            </div>
  
            <div>
              <h6 class="mb-4 text-base font-semibold  text-gray-900 dark:text-white">For Consumers</h6>
              <ul class="space-y-3">
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Payments</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Shipping</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Products Returns</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">FAQ</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Shop Checkout</a>
                </li>
              </ul>
            </div>
  
            <div>
              <h6 class="mb-4 text-base font-semibold  text-gray-900 dark:text-white">Become a Shopper</h6>
              <ul class="space-y-3">
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Shopper Opportunities</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Become a Shopper</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Earnings</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Ideas & Guides</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">New Retailers</a>
                </li>
              </ul>
            </div>
  
        
            <div>
              <h6 class="mb-4 text-base font-semibold  text-gray-900 dark:text-white">FreshCart programs</h6>
              <ul class="space-y-3">
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">FreshCart programs</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Gift Cards</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Promos & Coupons</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Fresh Ads</a>
                </li>
                <li>
                  <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Careers</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="flex justify-between items-center py-4 border-b border-grays-300 max-xl:flex-col max-xl:items-start  xl:space-y-0">
        <ul class="flex justify-between items-center gap-3 max-sm:grid max-sm:grid-cols-3">
          <li>Payments Partners</li>
          <a href=""><img src="assets/amazon-pay.png" alt=""></a>
          <a href=""><img src="assets/american-express.png" alt=""></a>
          <a href=""><img src="assets/business.png" alt=""></a>
          <a href=""><img src="assets/pay-pal.png" alt=""></a>
          <a href=""><img src="assets/visa.png" alt=""></a>
        </ul>
        <ul class="flex justify-between items-center p-1 gap-3 max-sm:flex-col">
          <li>Get deliveries with FreshCart</li>
          <div class="flex gap-3">
            <a href=""><img class="w-36 max-sm:w-24" src="assets/btn-playstore.png" alt=""></a>
            <a href=""><img class="w-36 max-sm:w-24" src="assets/applestore.png" alt=""></a>
          </div>
        </ul>
      </div>

      <div class="py-6 md:py-8">
        <div class="gap-4 space-y-5 xl:flex xl:items-center xl:justify-between xl:space-y-0">
          <p class="text-small text-gray-500 dark:text-gray-400">© 2022 - 2024 FreshCart eCommerce HTML Template.All rights reserved. Powered by <a href="#" class="text-greens-800 hover:underline">Codescandy</a></p>
  
          <ul class="flex flex-wrap items-center gap-4 text-gray-900 dark:text-white xl:justify-center">
            <li class="text-small">Follow us on</li>
            <li>
              <a href="#" title="" class="font-medium text-base text-grays-300 p-2 rounded-lg border border-grays-300 hover:border-greens-800 hover:text-greens-800"> 
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" title="" class="font-medium text-base text-grays-300 p-2 rounded-lg border border-grays-300 hover:border-greens-800 hover:text-greens-800">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" title="" class="font-medium text-base text-grays-300 p-2 rounded-lg border border-grays-300 hover:border-greens-800 hover:text-greens-800">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
  
          
        </div>
      </div>
    </div>
  </footer>
