<app-header-langage />
<app-navbar-one />
<app-navbar-two />

<section class="px-20 flex min-h-full max-sm:px-6">
    <app-aside/>
    <div class="flex flex-col">
           <!-- drawer init and toggle -->
        <div class="justify-between items-center p-4 hidden max-lg:flex">
            <div>
               <h3 class="text-lg font-bold">{{'Account Setting'|translate}}</h3>
            </div>
            <button class="border border-grays-200 p-1 rounded-md font-medium " type="button" data-drawer-target="drawer-example2" data-drawer-show="drawer-example2" aria-controls="drawer-example2">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
               </svg>                
            </button>
         </div>
        <router-outlet/>
    </div>
</section>

<app-footer />