<div class="rounded-lg bg-[url('assets/products/banner-deal.jpg')] bg-cover bg-center px-6 pt-8 h-96">
    <h3 class="mb-1 text-whites text-xl font-bold">100% Organic Coffee Beans.</h3>
    <p class="mb-4 text-base text-whites text-gray-ligth font-medium">Get the best deal before close.</p>
    <a href=""
        class=" flex justify-center items-center gap-2 w-32 py-2.5 px-4 bg-greens-800 text-whites text-base font-semibold rounded-lg hover:bg-gray-700 transition-colors duration-200">Shop
        Now
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
            <path fill-rule="evenodd"
                d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8Z"
                clip-rule="evenodd" />
        </svg>
    </a>
</div>

<div *ngFor="let data of produits | slice:10:13"
    class=" group/item rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800  hover:border-greens-800 hover:shadow-xl transition-shadow duration-500 ease-in-out">
    <div class="relative">
        <a href="#">
            <img class="mx-auto h-full " [src]="data.img[0]" alt="" />
        </a>
        <div class="absolute group/edit opacity-0 group-hover/item:opacity-100  mb-4 flex items-center justify-between gap-4 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 transition duration-500">
            <div class="flex items-center justify-end gap-1">
                <button type="button" [attr.data-tooltip-target]="'tooltip-quick-look' + data.id" (click)="this.view(data)"
                    class="bg-whites shadow-md rounded-lg p-2 text-gray-500 hover:bg-greens-800 hover:text-whites dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only"> Quick View </span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                </button>
                <!-- Modal toggle -->
                <div [attr.id]="'tooltip-quick-look' + data.id" role="tooltip"
                    class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-2 py-1 text-small font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700"
                    data-popper-placement="top">
                    Quick View
                    <div class="tooltip-arrow" data-popper-arrow=""></div>
                </div>
                <button type="button" [attr.data-tooltip-target]="'tooltip-add-to-favorites' + data.id" (click)="toggleAddFavorie(data)"
                    class="bg-whites shadow-md rounded-lg p-2 text-gray-500 hover:bg-greens-800 hover:text-whites dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only"> Add to Favorites </span>
                    @if (isInFavorie(data)) {
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-4 stroke-reds">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                        </svg>
                    }@else {
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                        </svg>
                    }
                </button>
                <button type="button" [attr.data-tooltip-target]="'compares' + data.id"
                    class="bg-whites shadow-md rounded-lg p-2 text-gray-500 hover:bg-greens-800 hover:text-whites dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only"> Compare </span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd"
                            d="M15.97 2.47a.75.75 0 0 1 1.06 0l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 1 1-1.06-1.06l3.22-3.22H7.5a.75.75 0 0 1 0-1.5h11.69l-3.22-3.22a.75.75 0 0 1 0-1.06Zm-7.94 9a.75.75 0 0 1 0 1.06l-3.22 3.22H16.5a.75.75 0 0 1 0 1.5H4.81l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 0Z"
                            clip-rule="evenodd" />
                    </svg>

                </button>
                <div [attr.id]="'compares' + data.id" role="tooltip"
                    class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-2 py-1 text-small font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700"
                    data-popper-placement="top">
                    Compare
                    <div class="tooltip-arrow" data-popper-arrow=""></div>
                </div>
            </div>
        </div>

    </div>
    <div class="pt-6">
        <div>
            <small class="text-small font-medium text-gray-500 dark:text-gray-400">{{data.categorie}}</small>
        </div>

        <h2 class="mb-1">
            <a [routerLink]="['details-product',data.id]"
                class="text-base font-semibold leading-tight text-gray-900 hover:text-greens-800 dark:text-white">
                {{data.nom}}
            </a>
        </h2>


        <div class="mb-3 flex items-center justify-between gap-4">
            <div class="flex gap-1">
                <p class="text-base text-gray-900 dark:text-white">{{ data.prix_reduit | currency:'USD':'symbol':'1.0-0'
                    }}</p>
                <p class="text-base text-grays-300 line-through dark:text-white">{{ data.prix_unitaire |
                    currency:'USD':'symbol':'1.0-0' }}</p>
            </div>

            <div class="mt-2 flex items-center gap-2">
                <div class="flex items-center gap-1">
                    <p-rating
                    class="text-yellow-300 flex"
                        [(ngModel)]="data.note"
                        [readonly]="true"
                        iconCancelClass="hidden"
                    ></p-rating>
                    <p class="text-base font-medium text-gray-900 dark:text-white">{{data.note}}</p>
                </div>
            </div>

        </div>

        <button type="button" (click)="toggleAddCart(data)" [ngClass]="{'active':isInCart(data)}"
            class="flex items-center justify-center w-full rounded-md bg-greens-800 px-4 py-2.5 font-bold text-base text-white hover:bg-green-hover focus:outline-none focus:ring-4  focus:ring-greens-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            @if(!isInCart(data)){
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                    <path
                        d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
                </svg>
                Add to cart
            }@else{
                Remove to cart
            }
        </button>
        <div class="mt-2">
            <count-down />
        </div>

    </div>
</div>
<app-view-modal (close)="this.canShowModal = false" [showModal]="this.canShowModal" [item]="this.Products"/>