<div class="p-12 w-full max-lg:pt-0 max-md:p-0">
      <div class="p-4">
         <div class="pb-2">
            <h1 class="text-xl font-bold mb-6">{{'Notification settings'|translate}}</h1>
            <h5 class="text-lg font-medium">{{'Email Notifications'|translate}}</h5>
         </div>
         <hr class="w-full h-1 mb-5">
         <div class="flex justify-between items-center mb-4">
            <div>
               <h6 class="font-bold ">{{'Weekly Notification'|translate}}</h6>
               <p class="text-gray-ligth">{{'Various versions have evolved over the years, sometimes by accident, sometimes on purpose .'|translate}}</p>
            </div>
            <label class="inline-flex items-center cursor-pointer">
               <input type="checkbox" value="" class="sr-only peer">
               <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-greens-300 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-greens-800"></div>
            </label>
         </div>
         <div class="mb-12">
            <h6 class="font-bold mb-2">{{'Account Summary'|translate}}</h6>
            <div class="flex justify-between items-center">
               <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis eguris eu sollicitudin massa.
                   Nulla ipsum odio, aliquam in odio et, fermentum blandit nulla.
               </p>
               <label class="inline-flex items-center cursor-pointer">
                  <input type="checkbox" value="" class="sr-only peer">
                  <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-greens-300 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-greens-800"></div>
               </label>
            </div>
         </div>
         <div class="mb-12">
            <div>
               <h5 class="font-bold pb-3">{{'Order updates'|translate}}</h5>
               <hr class="w-full h-1 mb-5">
            </div>
            <div class="flex justify-between items-center mb-6">
               <h6 class="font-bold">{{'Text messages'|translate}}</h6>
               <label class="inline-flex items-center cursor-pointer">
                  <input type="checkbox" value="" class="sr-only peer">
                  <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-greens-300 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-greens-800"></div>
               </label>
            </div>
            <div class="flex justify-between items-center">
               <div>
                  <h6 class="font-bold ">{{'Call before checkout'|translate}}</h6>
                  <p class="text-gray-ligth">{{'We\'ll only call if there are pending changes'|translate}}</p>
               </div>
               <label class="inline-flex items-center cursor-pointer">
                  <input checked type="checkbox" value="" class="sr-only peer">
                  <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-greens-300 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-greens-800"></div>
               </label>
            </div>
         </div>
         <div>
            <div>
               <h5 class="font-bold pb-3">{{'Order updates'|translate}}</h5>
               <hr class="w-full h-1 mb-5">
            </div>
            <div>      
               <div class="flex items-center mb-4">
                  <input checked id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-greens-800 bg-gray-100 border-gray-300 rounded focus:ring-greens-300 dark:focus:ring-greens-300 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-300">{{'New Follower'|translate}}</label>
               </div>
               <div class="flex items-center mb-4">
                  <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-greens-800 bg-gray-100 border-gray-300 rounded focus:ring-greens-300 dark:focus:ring-greens-300 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-300">{{'Post Like'|translate}}</label>
               </div>
               <div class="flex items-center mb-4">
                  <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-greens-800 bg-gray-100 border-gray-300 rounded focus:ring-greens-300 dark:focus:ring-greens-300 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-300">{{'Someone you followed posted'|translate}}</label>
               </div>
               <div class="flex items-center mb-4">
                  <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-greens-800 bg-gray-100 border-gray-300 rounded focus:ring-greens-300 dark:focus:ring-greens-300 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-300">{{'Post added to collection'|translate}}</label>
               </div>
               <div class="flex items-center mb-4">
                  <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-greens-800 bg-gray-100 border-gray-300 rounded focus:ring-greens-300 dark:focus:ring-greens-300 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-300">{{'Order Deli-500'|translate}}</label>
               </div>
            </div>
         </div>
      </div>
</div>





