<section class="mt-20 px-20 max-sm:px-6">
    <div id="carousel" class="flex flex-col-reverse relative w-full h-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative p-10 h-56 overflow-hidden rounded-lg md:h-60 max-md:min-h-96">
            <!-- Item 1 -->
            <div class="grid grid-cols-4 bg-whites gap-4 duration-700 ease-in-out max-md:grid-cols-2 max-md:grid-rows-2" data-carousel-item>
                <a href="#" class="flex flex-col border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-atta-rice-dal.png" alt="...">
                    <p class="mt-4">{{'Atta, Rice & Dal'|translate}}</p>
                </a>
                <a href="#" class="flex flex-col border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-baby-care.png" alt="...">
                    <p class="mt-4">{{'Baby Care'|translate}}</p>
                </a>
                <a href="#" class="flex flex-col border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-bakery-biscuits.png" alt="...">
                    <p class="mt-4">{{'Bakery Biscuits'|translate}}</p>
                </a>
                <a href="#" class="flex flex-col border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-chicken-meat-fish.jpg" alt="...">
                    <p class="mt-4">{{'Chicken, Meat & Fish'|translate}}</p>
                </a>
            </div>
            <!-- Item 2 -->
            <div class="grid grid-cols-4 bg-whites gap-4 duration-700 ease-in-out max-md:grid-cols-2 h-full" data-carousel-item>
                <a href="#" class="flex flex-col bg-whites border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-cleaning-essentials.png" alt="...">
                    <p class="mt-4">{{'Cleaning Essentials'|translate}}</p>
                </a>
                <a href="#" class="flex flex-col bg-whites border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-dairy-bread-eggs.png" alt="...">
                    <p class="mt-4">{{'Dairy, Bread & Eggs'|translate}}</p>
                </a>
                <a href="#" class="flex flex-col bg-whites border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-instant-food.png" alt="...">
                    <p class="mt-4">{{'Instant Food'|translate}}</p>
                </a>
                <a href="#" class="flex flex-col bg-whites border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-pet-care.png" alt="...">
                    <p class="mt-4">{{'Pet Care'|translate}}</p>
                </a>
            </div>
            <!-- Item 3 -->
            <div class="grid grid-cols-4 bg-whites gap-4 duration-700 ease-in-out max-md:grid-cols-2 h-full" data-carousel-item>
                <a href="#" class="flex flex-col bg-whites border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-snack-munchies.png" alt="...">
                    <p class="mt-4">{{'Snack Munchies'|translate}}</p>
                </a>
                <a href="#" class="flex flex-col bg-whites border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-tea-coffee-drinks.png" alt="...">
                    <p class="mt-4">{{'Tea, Coffee & Drinks'|translate}}</p>
                </a>
                <a href="#" class="flex flex-col bg-whites border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-bakery-biscuits.png" alt="...">
                    <p class="mt-4">{{'Bakery Biscuits'|translate}}</p>
                </a>
                <a href="#" class="flex flex-col bg-whites border rounded-xl border-gray-200 hover:border-greens-800 hover:shadow-2xl justify-center items-center transition-all duration-500 ease-in-out">
                    <img src="assets/categories/category-dairy-bread-eggs.png" alt="...">
                    <p class="mt-4">{{'Dairy, Bread & Eggs'|translate}}</p>
                </a>
            </div>
        </div>
        <!-- Slider controls -->
        <div class="flex justify-between mb-3">
             <div>
                <h3 class="text-xl font-bold">{{'Featured Categories'|translate}}</h3>
             </div>
             <div class="flex gap-2">
                 <button type="button" class="z-30 flex items-center justify-center h-full cursor-pointer group focus:outline-none" data-carousel-prev>
                     <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-grays-300 dark:bg-gray-800/30 group-hover:bg-greens-800 dark:group-hover:bg-gray-800/60 ">
                         <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                         </svg>
                         <span class="sr-only">Previous</span>
                     </span>
                 </button>
                 <button type="button" class="z-30 flex items-center justify-center h-full cursor-pointer group focus:outline-none" data-carousel-next>
                     <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-grays-300 dark:bg-gray-800/30 group-hover:bg-greens-800 dark:group-hover:bg-gray-800/60 ">
                         <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                         </svg>
                         <span class="sr-only">Next</span>
                     </span>
                 </button>
             </div>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-7 mt-16 max-md:grid-cols-1">
        <div *ngFor="let item of data" [ngStyle]="{'background-image': 'url(' + item.img + ')'}" class="rounded-lg bg-cover bg-center h-52 py-12 px-8">
            <h3 class="mb-1 text-xl font-bold">{{item.title|translate}}</h3>
            <p class="mb-4 text-base text-gray-ligth font-medium">{{'Get Upto'|translate}} <span class="font-extrabold">{{item.taux}} </span>{{'Off'|translate}}</p>
            <a href="" class=" flex justify-center items-center gap-2 w-32 py-2.5 px-4 bg-dark-blue text-whites text-base font-semibold rounded-lg hover:bg-gray-700 transition-colors duration-200">{{'Shop Now'|translate}}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                    <path fill-rule="evenodd" d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8Z" clip-rule="evenodd" />
                </svg>                                         
            </a>
        </div>
    </div>
</section>