<app-header-langage />
<app-navbar-one />
<app-navbar-two />

<div class="flex gap-5 mt-4 px-20 max-sm:px-6">
    <a href="" class="text-greens-800">Home</a>
    <li class="list-none text-gray-ligth">/</li>
    <a href="" class="text-greens-800">Shop</a>
    <li class="list-none text-gray-ligth">/ Snacks & Munchies</li>
</div>

<section class="mt-8 px-20 max-sm:px-6">
    <div class="mb-8">
        <h1 class="text-ld font-bold mb-1">My Wishlist</h1>
        <p class="text-gray-ligth font-medium mb-4">There are 5 products in this wishlist.</p>
    </div>
    <p>wishlist works!</p>
</section>


<app-footer />