<section class="flex items-center min-h-screen my-auto">
    <div class="w-3/4 h-full m-auto max-lg:w-130 max-sm:w-full max-sm:px-6">
        <div class="mb-12 pl-4 max-lg:pl-0">
            <a routerLink="/">
                <img src="assets/freshcart-logo.svg" alt="">
            </a>
        </div>
        <div class="flex items-center h-full max-lg:flex-col">
            <div class="w-128 pl-4 max-lg:pl-0 max-lg:w-full max-lg:mb-5">
                <h1 class="text-ld mb-2 font-bold">Something’s wrong here...</h1>
                <p class="mb-8">
                    We can’t find the page you’re looking for.
                    Check out our help center or head back to home.
                </p>
                <div class="flex items-center gap-4">
                    <a href="" class=" flex justify-center items-center gap-2 py-2.5 px-4 bg-dark-blue text-whites text-base font-semibold rounded-lg hover:bg-gray-700 transition-colors duration-200">Help Center
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd" d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8Z" clip-rule="evenodd" />
                        </svg>                                         
                    </a>
                    <a routerLink="/"
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-greens-800 rounded-lg hover:bg-green-hover focus:ring-4 focus:ring-greens-300 dark:bg-greens-800 dark:hover:bg-greens-300 focus:outline-none">
                        Back to home
                    </a>
                </div>
            </div>
            <div class="w-130 h-64 px-4 bg-[url('assets/error.svg')] bg-contain bg-no-repeat bg-center max-lg:h-80 max-lg:w-full max-lg:px-0">
                <!-- <img src="" alt=""> -->
            </div>
        </div>
    </div>
</section>
